@font-face {
	font-family: "century";
	src: url("fontes/CenturyGothic.ttf");
}

@font-face {
	font-family: "lucida";
	src: url("fontes/LucidaBlackletter.ttf");
}

@font-face {
	font-family: "parchment";
	src: url("fontes/Parchment.ttf");
}

#logo {
	background-size: 100%;
	background-color: #000;
	text-align: center;
}

#imagemHeader {
	background-size: 100%;
	background-color: #000;
	text-align: center;
}

.fundoHome {
	background-image: url("img/FundoHome.jpg");
	background-size: 100%;
	
}

.fundoTexto {
	font-family: "century";
	color: #fff;
	padding: 0px 30px;
	/* background-color: black; */
	/* background-image: url("img/FundoHome.jpg"); */
}

.menu {
	position: absolute;
	top: 50px;
	left: 0px;
	background-color: #ffcc08;
	width: 100%;
}

.botaoMenu {
	width: 100%;
	height: 100%;
	padding: 10%;
	border-bottom: 3px solid #f00;
	
}

#titulo {
	text-align: center;
	font-size: 2.5em;

}

.tituloHome {
	margin: 0px 0px 10px 0px;
	padding-top: 5px;
	border-bottom: 4px solid #f00;
}

.textoHome {
	text-align: justify;
}

.imagemHome {
	text-align: left;
}

.footer {
	background-image: url("img/footerImagem.jpg");
	background-size: 100%;
}

.itemFooter {
	text-align: center;
	margin: 8px 0px;
	color: #fff;
	letter-spacing: 0.5px;
}

.footerInicio {
	font-weight: 700;
}

.footerFinal {
	font-weight: 200;
}

.copyright {
	font-style: italic;
}